{% extends 'base.html' %}
{% block title %}
        Home
{% endblock title %}
{% block body %}

    <div class="container my-3">
        <h2>Add a TODO</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">To-Do Title</label>
                <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <br>
    <br>
    <div class="container my-3">
        <h3>Your To-Do List</h3>
        <table class="table">
            <tbody class="container-fluid">
                {% if allTodo|length ==0 %}
                <div class="alert alert-light" role="alert">
                    No To-Do's found! Please add a To-Do.
                </div>
                {% else %}
                <thead>
                    <tr>
                        <th scope="col">Sl. No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% endif %}
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <a href="/update/{{todo.sno}}" type="button"
                            class="btn btn-outline-success btn-sm mx-2 my-2">Update</button>
                            <a href="/delete/{{todo.sno}}" type="button"
                                class="btn btn-outline-danger btn-sm mx-2 my-2">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
{% endblock body %}